<<<<<<< Updated upstream
body{

    background-color: black;


}
/* ARTIST/FAN SIGN UP PAGE CSS */
.titlePage{
    padding-top: 25px;
     text-align: center;
     color: white;

}
/* Image */
.eminem{
    width: 69%;
}
.filtered {
    filter: drop-shadow(5px 5px 77px gray);
    width: 73%;
}
/* Sign up Info card  */
.card{
     margin-left: 35px;
     text-align: center;
     color: white;
     /* background-color: #440b08; */
     font-size: 20px;
     background-image: url(/Images/MusicGifBackground.gif);
     background-image: 10%;

 /* filter: opacity(0.3); */

}
.form {
    width: 20%;
=======
/*Landing Page*/

body {
	background: #445;
	color: #FFF;
}

#main {
	background: linear-gradient(to bottom, rgba(0,0,0,0.66) 100%, transparent), url("/Images/redstage.jpg");
	background-size: cover, cover;
	background-position: center, center;
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.A1 {
	font-family: 'Joti One', cursive;
	font-size: 8rem;
	display: inline-block;
	padding: 1rem;
	font-weight: 400;
	position: relative;
	opacity: 1;
	transform: scale(1);
	transition: transform 0.5s ease, opacity 1s ease;
}

.is-loading .A1 {
	transform: scale(0.9);
	opacity: 0;
}

.A1:before,
.A1:after {
	height: 5px;
	width: 100%;
	content: "";
	background: white;
	display: block;
	position: absolute;
	transition: width 0.4s ease;
	transition-delay: 0.8s;
}

.A1:before {
	top: 0;
	left: 0;
}

.A1:after {
	bottom: 0;
	right: 0;
}

.is-loading h1:before,
.is-loading h1:after {
	width: 0;
}

.A2{
    padding-bottom: 50px;
}

.A3{
    font-family: 'Joti One', cursive;
    font-size: 20px;
}

.A4{
    padding-top: 50px;
}

.A7{
    font-family: 'Joti One', cursive;
    font-size: 30px;
}


* {
  font-family:Helvetica;
  font-weight:100
}

body{
  background:url("https://subtlepatterns.com/patterns/dark_fish_skin.png");
  color:white;
}

header{
  height:50px;
}


.box{
  border-radius:25px;
  background:#888;
  padding:10px 10px;
  padding-left:16px;
  width:28px;
  height:35px;
  margin:auto;
  overflow:hidden;
  white-space: nowrap;
  transition:all .2s ease;
  border:3px solid #8BF;
}
.text{
  margin-left:15px;
  margin-top:3px;
  background:#37D;
  color:white;
  border:none;
  outline:transparent;
  padding:5px;
  font-size:12pt;

}

#form-container, #icon {
  display:inline-block;
  vertical-align:top;
}
#icon {
  margin-top:10px;
}

.showbox {
  background:#39F;
  width:400px;
  height:50px;
  transition-delay:0s;
  padding-right: 40px;
  padding-bottom: 50px;
}

.showpass {
  height:200px;
}

.icon {
  margin-left:-25px;
  color:#15B;
}
.icon:hover {
  margin-left:-25px;
  color:#69F;
>>>>>>> Stashed changes
}
