/*Landing Page*/

body {
	background: #445;
	color: #FFF;
}

#main {
	background: linear-gradient(to bottom, rgba(0,0,0,0.66) 100%, transparent), url("/Images/mic.jpg");
	background-size: cover, cover;
	background-position: center, center;
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.A1 {
	font-family: 'Joti One', cursive;
	font-size: 8rem;
	display: inline-block;
	padding: 1rem;
	font-weight: 400;
	position: relative;
	opacity: 1;
	transform: scale(1);
	transition: transform 0.5s ease, opacity 1s ease;
}

.is-loading .A1 {
	transform: scale(0.9);
	opacity: 0;
}

.A1:before,
.A1:after {
	height: 5px;
	width: 100%;
	content: "";
	background: white;
	display: block;
	position: absolute;
	transition: width 0.4s ease;
	transition-delay: 0.8s;
}

.A1:before {
	top: 0;
	left: 0;
}

.A1:after {
	bottom: 0;
	right: 0;
}

.is-loading h1:before,
.is-loading h1:after {
	width: 0;
}

.A2{
    padding-bottom: 50px;
}

.A3{
    font-family: 'Joti One', cursive;
    font-size: 20px;
}

.A4{
    padding-top: 50px;
}

.A7{
    font-family: 'Joti One', cursive;
    font-size: 30px;
    color: white !important;
}


* {
  font-family:Helvetica;
  font-weight:100
}

body{
  background:url("https://subtlepatterns.com/patterns/dark_fish_skin.png");
  color:white;
}

header{
  height:50px;
}


.box{
  border-radius:25px;
  background:white;
  padding:10px 10px;
  padding-left:16px;
  width:28px;
  height:35px;
  margin:auto;
  overflow:hidden;
  white-space: nowrap;
  transition:all .2s ease;
  border:3px solid white;
}
.text{
  margin-left:15px;
  margin-top:3px;
  background:black;
  color:white;
  border:none;
  outline:transparent;
  padding:5px;
  font-size:12pt;

}

#form-container, #icon {
  display:inline-block;
  vertical-align:top;
}
#icon {
  margin-top:10px;
}

.showbox {
  background:white;
  width:400px;
  height:50px;
  transition-delay:0s;
  padding-right: 40px;
  padding-bottom: 50px;
}

.showpass {
  height:200px;
}

.icon {
  margin-left:-25px;
  color:#15B;
}
.icon:hover {
  margin-left:-25px;
  color:#69F;
}

.figure{
    background: url("/Images/HP.jpg") no-repeat center top;
    background-size: cover;
    height: 100vh;
}

.B1{
    padding-top: 50px;
    border-top: 2px solid white;
    padding-bottom: 30px;
}

.B2{
    padding-bottom: 50px;
}

#lit{
    font-family: 'Joti One', cursive;
    font-size: 60px;

}

#litt{
    font-family: 'Joti One', cursive;
    font-size: 40px;

}







body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-kerning: auto;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialised;
  font-weight: 300;
  height: 100vh;
  margin: 0;
  text-rendering: optimizeLegibility;
}

.container {
  align-content: center;
  display: grid;
  height: 100%;
  justify-content: center;
}

.profile {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "avatar"
    "social";
  overflow: hidden;
}

.profile__avatarA {
  background: linear-gradient(to bottom left, #1fa2ff, #a6ffcb);
  background-image: url("/Images/giphy.gif");
  background-position: center;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: 100%;
  grid-area: avatar;
  height: 300px;
  position: relative;
  width: 300px;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border: 5px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}

.profile__avatarB {
  background: linear-gradient(to bottom left, #1fa2ff, #a6ffcb);
  background-image: url("/Images/Kdot.gif");
  background-position: center;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: 150%;
  grid-area: avatar;
  height: 300px;
  position: relative;
  width: 300px;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border: 5px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}

.profile__avatarC {
  background: linear-gradient(to bottom left, #1fa2ff, #a6ffcb);
  background-image: url("/Images/mfdooom.gif");
  background-position: center;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: 180%;
  grid-area: avatar;
  height: 300px;
  position: relative;
  width: 300px;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border: 5px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}

.profile__description {
  align-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  color: #fff;
  display: grid;
  font-size: 1.9rem;
  height: 300px;
  justify-content: center;
  opacity: 0;
  position: absolute;
  text-align: center;
  width: 300px;
}

.profile__description__info {
  font-size: 1.2rem;
  font-family: 'Joti One', cursive;
}

.profile__social {
  color: #1fa2ff;
  display: grid;
  font-size: 2.2rem;
  grid-area: social;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.profile__social__icon {
  opacity: 0;
}

.profile__social__icon--in {
  margin-top: 1.7rem;
}

.profile:hover .profile__description {
  animation: show 0.75s ease-out forwards;
}

.profile:hover .profile__social__icon {
  animation: show 0.75s ease-out forwards, translate 0.75s ease-out forwards;
}

@keyframes show {
  100% {
    opacity: 1;
  }
}

@keyframes translate {
  0% {
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#wow{
    border-bottom: 3px solid white;
}
